<!DOCTYPE html>
<html>
  <head>
    <title>GePy</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <img src="{{ url_for('static', filename='brasao-ufal.png') }}" alt="Logo">
    <h1 class="center">Gerência de Planejamento – GEPLAN</h1>
    <form method="POST" enctype="multipart/form-data" class="form-style">
      <label for="file">Selecionar arquivo</label>
      <input type="file" accept=".csv, .xlsx, .ods" name="file" /><br /><br />
      <input type="submit" value="GERAR RELATÓRIO" />
    </form>
  </body>
</html>
