<!DOCTYPE html>
<html>
  <head>
    <title>GePy</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <img src="{{ url_for('static', filename='brasao-ufal.png') }}" alt="Logo">
    <h1 class="center">Gerência de Planejamento – GEPLAN</h1>
    <form method="POST" enctype="multipart/form-data" class="form-style">
      <label for="file">Selecionar arquivo (.csv ou .xlsx)</label>
      <input type="file" accept=".csv, .xlsx" name="file" /><br /><br />
      <input type="submit" value="GERAR RELATÓRIO" />
    </form>
    <footer>
      <div class="container">
        <p>Universidade Federal de Alagoas - UFAL</p>
      </div>
    </footer>
  </body>
</html>
